[run]
branch = True

omit =
    */templatetags/*
    */tests/*
    */migrations/*
    */admin.py
    */apps.py
    */__init__.py
    */manage.py
    */wsgi.py
    *budget_project/factories.py
    *budget_project/settings.py

source =
    */.

[report]
show_missing = True
